<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.google.android.gms.permission.AD_ID" />
    <uses-permission android:name="com.applovin.array.apphub.permission.BIND_APPHUB_SERVICE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:usesCleartextTraffic="true"
        android:hardwareAccelerated="true"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Tictactoe">
        <activity
            android:name="com.jaydip.tictactoe.StartActivity"
            android:exported="true"
            android:screenOrientation="nosensor">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.jaydip.tictactoe.SettingsActivity"
            android:screenOrientation="nosensor" />
        <activity
            android:name="com.jaydip.tictactoe.SPDashboardActivity"
            android:screenOrientation="nosensor" />
        <activity
            android:name="com.jaydip.tictactoe.SelectSignActivity"
            android:screenOrientation="nosensor" />
        <activity
            android:name="com.jaydip.tictactoe.SinglePlayerNameActivity"
            android:screenOrientation="nosensor" />
        <activity
            android:name="com.jaydip.tictactoe.MPDashboardActivity"
            android:screenOrientation="nosensor" />
        <activity
            android:name="com.jaydip.tictactoe.MPSelectSignActivity"
            android:screenOrientation="nosensor" />
        <activity
            android:name="com.jaydip.tictactoe.MultiPlayersNamesActivity"
            android:screenOrientation="nosensor" />
        <activity
            android:name="com.jaydip.tictactoe.GameMainActivity"
            android:screenOrientation="nosensor" />
        <activity
            android:name="com.jaydip.tictactoe.PrivacyActivity"
            android:screenOrientation="nosensor" />

    </application>
</manifest>